.Recent{
  margin-top: 1rem;
}

.Head{
  background: #FAFAFA;
}

.Pages{
  text-align: center;
}

.StatusBtn{
  background: green;
  color: white;
  width: 4rem;
  border: none;
  border-radius: 40%;
  text-transform: capitalize;
}