/* 
GLOBAL VARIABLES
 */

 *{
  padding: 0;
  margin: 0;

  font-family: 'Roboto', sans-serif;
}

:root{
  
  --black: #000000;
  --white: #fff;

  --primary-color: #5690D0;
  --primary-color-text: var(--white);
  --primary-color-dark: #4390F1;
  --primary-color-dark-text: var(--white);

  --secondary-color: #64BB77;
  --secondary-color-text: var(--white);
}